:root {
  --nat-navbar-bg: #586466;
  --nat-navbar-bg-color: #97b6d4;
  --nat-navbar-highlight-text: rgb(209, 212, 237);
  --nat-navbar-text-highlight: rgb(177, 161, 141);
  --nat-navbar-highlight-bg: rgb(91, 92, 76);
  --nat-navbar-bg-rgb: 30, 30, 30;
  --nat-navbar-text-color: white;
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/image.png");
  background-size: cover;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
